/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgba(27,24,38,255);
    color: white;
    font-size: 100%;
}

/* header section */
.logo_img {
    width: 50px;
    height: 50px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

.header-menu {
    display: flex;
    gap: 70px;
}

.header-menu-item {
    font-family: quicksand, sans-serif;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.header-menu-item:hover {
    color: rgba(255, 255, 255, 0.5);
}

/* presentation section */
.content {
    border-top: 0.4px solid white;
    margin-bottom: 50px;
}

.presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.container {
    font-family: quicksand, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 31%;
    margin-top: 60px;
    margin-left: 200px;
    text-align: justify;
    margin-bottom: 100px;
}

.welcome-title {
    font-size: 50px;
    font-weight: 1000;
}


.cta-subtitle {
    font-size: 30px;
    font-weight: 600;
}

.description {
    font-size:  20px;
}

.me_cartoon {
    width: 400px;
    height: 400px;
    margin-right: 200px;
}

/* footer */
.copyright {
    border-top: 0.4px solid white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: Quicksand, sans-serif;
}